$header_color: #61CE70;
$text_color: black;
$primarybtn_bg: #6EC1E4;
$primarybtn_text: #7A7A7A;
$primarybtn_hover_bg: #00bdf2;
$primarybtn_hover_text: #FFF;
$primarybtn_disabled_bg: #808080;
$primarybtn_disabled_text: #FFF;
$secondarybtn_bg: #54595F;
$secondarybtn_text: #FFFFFF;
$secondarybtn_hover_bg: rgb(54, 65, 94, 0.8);
$secondarybtn_hover_text: #FFFFFF;
$secondarybtn_disabled_bg: rgb(54, 65, 94, 0.4);
$secondarybtn_disabled_text: #FFFFFF;
$clr-white: #FFFFFF;
$footer_bg: #e9f3fc